.hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.image {
  width: 600px;
  align-self: center;
}
.hero-title {
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 36px;
}
.hero-desc {

  font-weight: 400;
  font-size: 16px;
}
